.box {
  list-style: none;
  width: 300px;
  height: 300px;
  position: relative;
  margin: 50px 23px;
  border: 2px solid #333;
  border-radius: 5px;
  box-shadow: 4px 5px 3px #111;
  background-color: antiquewhite;
  display: inline-block;
  padding: 0;
}

.minBox {
  display: inline-block;
  position: absolute;
  left: 0;
  top: 0;
  width: 89px;
  height: 89px;
  border: 1px solid #333;
  border-radius: 4px;
  text-align: center;
  line-height: 89px;
  margin: 5px;
  background-color: #fff;
  font-size: 35px;
  color: #333;
  transition: all .4s ease-in-out .1s;
  z-index: 10;
}

.zeroMinBox {
  display: inline-block;
  position: absolute;
  left: 0;
  top: 0;
  width: 89px;
  height: 89px;
  border: 1px solid #333;
  border-radius: 4px;
  text-align: center;
  line-height: 89px;
  margin: 5px;
  background-color: #fff;
  font-size: 35px;
  color: #333;
  transition: all .4s ease-in-out .1s;
  background-color: #ccc;
  z-index: 11;
}
